.App {
  text-align: center;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

i {
  margin-right: 5px;
}